
.search-results {
  display: block;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #b6353500;
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
}

.search-results img {
  border-radius: 10px;
  margin-right: 20px;
}

.anime-info {
  flex-grow: 1;
}

.anime-info h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.anime-info p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.search-result img {
  width: 100px;
  height: 150px;
  margin-right: 10px;
  border-radius: 5px;
}

.anime-details-button {
  color: #0077cc;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: inherit;
  font-family: inherit;}
  
.anime-info {
  flex-grow: 1;
}

.anime-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.anime-info p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
}


.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar input[type="text"] {
  font-family: sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #e0e0e0;
  width: 100%;
  max-width: 500px;
  margin-right: 10px;
}

.search-bar button {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4a90e2;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.search-bar button:hover {
  background-color: #357ae8;
}

.search-bar input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4a90e2;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #4a90e2;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  position: absolute;
  right: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
